.card {
    width: 50vh; 
    height: 15vh;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(42, 53, 53); 
  }
  
  .card-icon {
    width: 66px;
    height: 66px;
    margin-right: 10px;
  }
  
  .card-content {
    flex: 1;
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
  