  <h1> Clima em {{weatherData.name}}</h1>
  
  <div class="card">
    <img src="assets\Climaicon.png" alt="Ícone do Card" class="card-icon">
    <div class="card-content">
     <h1><p>Temperatura: {{ weatherData.main.temp }} °C</p></h1>
    </div>
  </div>

  <div class="card">
    <img src="assets\info.png" alt="Ícone do Card" class="card-icon">
    <div class="card-content">
     <h1><p>  {{ weatherData.weather[0].description }}</p></h1>
     <p></p>
    </div>
  </div>

  <div class="card">
    <img src="assets\mapa.png" alt="Ícone do Card" class="card-icon">
    <div class="card-content">
     <h1><p>Latitude: {{ weatherData.coord.lat }} Longitude: {{ weatherData.coord.lon }}</p></h1>
     <p></p>
    </div>
  </div>

  <div class="card">
    <img src="assets\umidade.png" alt="Ícone do Card" class="card-icon">
    <div class="card-content">
     <h1><p>Umidade do Ar: {{ weatherData.main.humidity}}%</p></h1>
     <p></p>
    </div>
  </div>
  