.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 50vh; 
    height: 15vh;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(59, 18, 243); 
  }
  
  .card-icon {
    width: 66px;
    height: 66px;
    margin-right: 10px;
  }
  
  .card-content {
    flex: 1;
    color: #ccc;
  }
  
  .card-content h1 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
  
  .Busca {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .Busca input {
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .Busca button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Busca button:hover {
    background-color: #45a049;
  }
  